 version: 2
 jobs:
   validar:
     machine:
       enabled: true
     steps:
       - add_ssh_keys:
           fingerprints:
             - "b1:25:1d:70:f7:4d:0c:1b:0d:04:5c:4e:0e:46:11:b8"
       - run:
           name: Validacion del proyecto
           command: |
             ssh $name@$nfs "sudo apt-get install git
             sudo apt-get install node -y
             node -v
             sudo apt-get install npm -y
             npm -v
             npm init
             cd /galeria/codigo
             sudo npm install -g eslint -y
             sudo git pull
             eslint index.js"

   deploy:
     machine:
       enabled: true
     steps:
       - add_ssh_keys:
           fingerprints:
             - "be:e5:37:88:d5:66:1e:6a:6e:73:2b:a6:3d:d8:ec:b7"
       - run:
           name: Deploy Over SSH
           command: |
             ssh $name@$host "pwd"
 workflows:
   version: 2
   build-and-deploy:
     jobs:
      # - build
       - validar
       - deploy:
           requires:
             - validar
