  version: 2
  jobs:
    deploy:
      machine:
        enabled: true
      steps:
        - add_ssh_keys:
            fingerprints:
              - "be:e5:37:88:d5:66:1e:6a:6e:73:2b:a6:3d:d8:ec:b7"
        - run:
            name: Deploy Over SSH
            command: |
              ssh $name@$host "ls -a"
  workflows:
    version: 2
    build-and-deploy:
      jobs:
        # - build
        - deploy:
            requires:
            # - build # only deploy once build job has completed
