  version: 2
  jobs:
    validar:
      steps:
        - checkout:
        - add_ssh_keys:
          fingerprints:
            - "be:e5:37:88:d5:66:1e:6a:6e:73:2b:a6:3d:d8:ec:b7"
        - run:
            name: Deploy Over SSH
            command: |
              ssh $name@$host "ls -all"
    workflows:
    version: 2
    myworflows:
      jobs:
        - validar
        - deploy:
            requires:
              - validar
            # - build # only deploy once build job has completed
